@charset "utf-8";
/* CSS Document */
body, html {
	background-image: url(images/background.jpg);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	margin: 0;
	padding:0;
}
#main {
	background-image: url(images/mainbg.png);
	background-repeat: repeat-y;
	width: 1125px;
	margin: 0 auto 0 auto;
	color: #414042;
	padding-bottom: 80px;
}
#header {
	margin-right: 91px;
	margin-left: 91px;
	padding-top: 50px;
	height: 80px;
}


.work{
	width 220px;
	height: 220px;
	margin: 20px 10px 0 10px;
	background-color: #FFF;
	float: left;
	text-align: center;
}
.work_type {
	margin: 0;
	padding: 0;
	font-style:italic;
	}
#work_samples{
	margin-left: 75px;
	margin-top: 15px;
}
.thumbnail {
	border: 1px solid #CCC;
	margin: 10px 20px 20px 20px;
}
.thumbnail:hover{
	opacity: 0.5;
	filter:alpha(opacity=50);
}
.logo {
	padding-right: 15px;
	float: left;
}
h1 {
	font-size: 24px;
	font-weight: normal;
	color: #414042;
	margin: 0px;
	padding-top: 30px;
}
h2 {
	font-size: 16px;
	font-weight: normal;
	color: #414042;
	margin: 0px;
	
}
h2 a {
	color: #414042;
	text-decoration:none;
}
h3{
	padding:4px;
	margin:0px;
	color: #414042;
	font-weight: normal;
	font-size: 14px;
}

#footer{
	background-color: #CEDEDC;
	height: 97px;
	width: 1131px;
	margin-left: -3px;
}

.transition{
	position: relative;
	top: 5px;
	left: -4px;
}
.portrait {
	float: left;
	margin-left: 40px;
	margin-top: 30px;
	margin-right: 60px;
}

#resume {
    left: 757px;
    position: relative;
    top: -38px;
    width: 180px;
    height: 38px;
    border: 1px solid #CCC;
    text-align: center;
    font-style: oblique;
    font-size: 15px;
    cursor: pointer;
    background: #f4f4f4; /* Old browsers */
background: -moz-linear-gradient(top, #f4f4f4 28%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,#f4f4f4), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f4f4f4 28%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f4f4f4 28%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f4f4f4 28%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom, #f4f4f4 28%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	}
#resume:hover {

	background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(top, #e2e2e2 28%, #a5a5a5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,#e2e2e2), color-stop(100%,#a5a5a5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e2e2e2 28%,#a5a5a5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e2e2e2 28%,#a5a5a5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e2e2e2 28%,#a5a5a5 100%); /* IE10+ */
background: linear-gradient(to bottom, #e2e2e2 28%,#a5a5a5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
}
#resume a {
	text-decoration:none;
	color: #414042;
}
#resume p{
	margin-top: 10px;
}


.logoblue {
    left: 966px;
    position: relative;
    top: -27px;
}
#main #footer a {
	
	color: #414042;
	text-decoration: none;
	border-style: none;
}
#main #footer a:hover {
	
	color: #414042;
	text-decoration:underline;
}

.italic {
	font-style: italic;
}


#shadow{
	width: 1150px;
	float: left;
	height:15px;
	background-image:url(images/footershadow2.png);
	margin-left: -14px;
	background-repeat:no-repeat;
}
#intro{
    left: 100px;
    position: relative;
    top: 25px;
    width: 693px;
}
#item_content{
    background-color: #FFFFFF;
    left: 60px;
    padding: 30px 30px 200px 30px;
    position: relative;
    top: 30px;
    width: 945px;
	
}
h4{
	font-weight: normal;
	font-size: 18px;
	padding-bottom: 0;
	margin-bottom: 0;
}
#info{
	width: 290px;
	padding-right: 50px;
	float: left;
	line-height: 1.5;
}
#images{
	width: 600px;
	float: left;
}

#images img{
	margin-bottom: 15px;	
}
#menu{
    float: right;
    width: 50px;
}
#bottom {
    left: -2px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    width: 1125px;
}
.stroke{
	border: 1px solid #666;	
}
.video{
	padding-bottom: 15px;	
}
.info_buttons{
	margin-bottom: 50px;
}
.rollover:hover{
	opacity: 0.6;
	filter:alpha(opacity=60);
}
